body {
    text-align: center;
    background-color: bisque;
background-repeat: no-repeat;
}

img {
    width: fit-content;
}

h1{
    background-color: lavenderblush;
}
p{
    background-color: lavenderblush;
}

h2{
    background-color: lavenderblush;
}

h3{
    background-color: lavenderblush;
}